<div class="target">
  <div class="columns">
    <div class="column pixel pixel-1"></div>
    <div class="column pixel pixel-2"></div>
    <div class="column pixel pixel-3"></div>
  </div>
  <div class="columns">
    <div class="column pixel pixel-4"></div>
    <div class="column pixel pixel-5"></div>
    <div class="column pixel pixel-6"></div>
  </div>
  <div class="columns">
    <div class="column pixel pixel-7"></div>
    <div class="column pixel pixel-8"></div>
    <div class="column pixel pixel-9"></div>
  </div>
</div>
