<div class="target">
  <div class="columns">
    <div class="column pixel pixel-1">
      1
    </div>
    <div class="column pixel pixel-2">
      2
    </div>
    <div class="column pixel pixel-3">
      3
    </div>
  </div>
  <div class="columns">
    <div class="column pixel pixel-4">
      4
    </div>
    <div class="column pixel pixel-5">
      5
    </div>
    <div class="column pixel pixel-6">
      6
    </div>
  </div>
  <div class="columns">
    <div class="column pixel pixel-7">
      7
    </div>
    <div class="column pixel pixel-8">
      8
    </div>
    <div class="column pixel pixel-9">
      9
    </div>
  </div>
</div>
