.hero
  background: url(asset_path("background.jpg")) no-repeat center
  background-size: cover

.hero-body,
.hero-foot
  +tablet
    width: 65%

.title
  font-weight: bold

  +tablet
    font-size: 40px

.subtitle
  +tablet
    font-size: 32px

.spectators,
.spectators-url
  +tablet
    font-size: 20px

.spectators-url
  strong
    color: #fff

  +mobile
    display: none
