.cross
  position: absolute
  right: 20px
  top: 20px
  height: 124px
  width: 124px

  +mobile
    right: 10px
    top: 10px
    height: 60px
    width: 60px


  &:before, &:after
    position: absolute
    left: 59px
    content: " "
    height: 122px
    width: 8px
    background-color: #fff

    +mobile
      left: 25px
      height: 58px

  &:before
    transform: rotate(45deg)

  &:after
    transform: rotate(-45deg)

.circle
  position: absolute
  right: 30px
  top: 30px
  border-radius: 62px
  height: 104px
  width: 104px
  border: 8px solid #fff

  +mobile
    right: 15px
    top: 15px
    height: 50px
    width: 50px
